.Rproj.user
.Rhistory
.RData
.Ruserdata
data/.DS_Store
data/africa_post_2017.cpg
data/africa_post_2017.dbf
data/africa_post_2017.prj
data/africa_post_2017.qpj
data/africa_post_2017.shp
data/africa_post_2017.shx
data/Africa_SHP/Africa.dbf
data/Africa_SHP/Africa.shp
data/Africa_SHP/Africa.shx
data/APL_Jan_12/.DS_Store
data/APL_Jan_12/Dates.csv
data/APL_Jan_12/MODIS_NDVI_STATS (1).tif
data/clipper_layer.cpg
data/clipper_layer.dbf
data/clipper_layer.prj
data/clipper_layer.qpj
data/clipper_layer.shp
data/clipper_layer.shx
data/DL_grid.dbf
data/DL_grid.prj
data/DL_grid.shp
data/DL_grid.shx
data/Locust_dat_Jan_22.csv
data/Locust_dat_Jan_25.csv
data/Locust_dat_Nov_10.csv
data/locustData_subset500_unixdates.csv
data/post_2017_dl.dbf
data/post_2017_dl.prj
data/post_2017_dl.shp
data/post_2017_dl.shx
data/Processed/.DS_Store
data/Processed/APLC_database_hierarchical_data_Feb_8.csv
data/Processed/CT_outbreaks_Feb_7_MODIS.csv
data/Processed/Locust_outbreaks_feb_04_S2.csv
data/Processed/Locust_outbreaks_jan_26_S2SR.csv
data/Processed/Locust_outbreaks_jan_28_S2.csv
data/Processed/Locust_outbreaks_jan_28_S2_SR.csv
data/raw/CT_dat.csv
data/raw/CT_unixdates.csv
data/raw/DL_dat.csv
data/raw/DL_unixdates.csv
data/sample_dl_grid.dbf
data/sample_dl_grid.prj
data/sample_dl_grid.shp
data/sample_dl_grid.shx
*.csv
.RDataTmp
models/.DS_Store
models/DL_mods/mod.rds
models/mod.rds
models/mod2.rds
models/mod3.rds
Figures/DL_breakdown_ecoregion_March22.pdf
Figures/DL_breakdown_ecoregion_March22_modeled.pdf
Figures/FIgure_construction_safeplace.pptx
*.txt
